body {
    margin: 0;
    font-family: sans-serif; 
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #e1e1e1;
}

.navbar .logo img {
    width: 100px;
    margin-left:20px;
}

.navbar .searchbar .searchbar-input {
    width: 42em;
    border: 0;
    border-radius: 8px;
    font-size:20px;
    padding: 8px;
}

.navbar .buttons .btn-register {
    background-color: #fff;
    padding: 8px;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid green;
    text-decoration: none;
    color: black;
}

.navbar .buttons .btn-login {
    background-color: green;
    padding: 8px;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid green;
    text-decoration: none;
    color: white;
}

.navbar .buttons {
    margin-right: 20px;
}

.banner {
    margin-top:30px;
}

.banner .img-banner {
    width: 100em;
    margin: auto;
    display: block;
    height: 25em;
    border-radius: 15px;
    object-fit: cover; 
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    margin-top: 50px;
    width: 100em;
    margin-left: auto;
    margin-right: auto;
}

.catalog .card-item {
    border: 1px solid gray;
    width: fit-content;
    border-radius: 20px;
    padding: 10px;
}

.catalog .card-item .item-name {
    font-size: 22px;
    margin-bottom: 0;
}
.catalog .card-item .item-price {
    font-size: 17px;
    margin-top: 5px;
}

.catalog .card-item .item-btn {
    background-color: green;
    padding:8px;
    border: 0;
    color: white;
    border-radius: 5px;
}

.catalog .card-item .img-card-item {
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    width: 200px;
}

.features {
    width: 100em;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.features .feature-item {
    width: 300px;
}

.features .feature-item .img-feature-item {
    width: 80px;
    border: 4px solid black;
    border-radius: 100px;
    padding: 15px;
}

.features .feature-item h4 {
    color: orange;
    font-size: 24px;
}

.features .feature-item p { 
    font-size: 15px;
}

.footer { 
    background-color: #e1e1e1;
    margin-top: 50px;
    padding: 25px;
    bottom: 0;
}

.footer .footer-text {
    text-align: center;
    color: #383838;
}

.floating-whatsapp {
    background-color: #00aa00;
    padding: 20px;
    border-radius: 100px;
    z-index: 1;
    width: fit-content;
    position: fixed;
    bottom: 40px;
    right: 40px;
}

.img-floating-whatsapp {
    width: 40px;    
}
